# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [49]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyCWEmwFQ_2G_BFzwqqCHa-NQtguUN22kyA'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [59]:
output_data_file = "output_data/cities.csv"
output_data_file
cities_df = pd.read_csv(output_data_file)
cities_df.drop(columns = "Unnamed: 0", inplace = True)
cities_df.head(1000)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Hokitika,0,NZ,1599539044,69,-42.72,170.97,53.55,6.98
1,Busselton,85,AU,1599539045,71,-33.65,115.33,63.00,7.00
2,Kavieng,5,PG,1599539046,74,-2.57,150.80,84.81,11.01
3,Cidreira,100,BR,1599538501,92,-30.18,-50.21,58.55,17.34
4,Camacha,40,PT,1599538457,83,33.08,-16.33,71.60,13.87
...,...,...,...,...,...,...,...,...,...
581,Howard Springs,75,AU,1599539546,13,-12.50,131.05,97.00,12.75
582,Shahrud,63,IR,1599539547,18,36.42,54.98,79.23,5.39
583,São João da Barra,40,BR,1599539549,87,-21.64,-41.05,72.86,19.08
584,Paso de Carrasco,17,UY,1599539549,76,-34.86,-56.05,48.20,4.70
585,Jalingo,30,NG,1599539550,91,8.88,11.37,71.62,1.81

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [66]:
#Generate cities Lat and Lng as locations and Humidity as the weight.
humidity = cities_df["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities_df[["Lat", "Lng"]]
print(humidity)

0      69.0
1      71.0
2      74.0
3      92.0
4      83.0
       ...
581    13.0
582    18.0
583    87.0
584    76.0
585    91.0
Name: Humidity, Length: 586, dtype: float64

In [ ]:
#Configure gmaps
fig_layout = {"withd": "2000px"
             ,"height": "1000px"
             ,"border": "1px solid black"
             ,"padding": "1px"
             ,"margin": "0 auto 0 auto"}

#Add Heatmap layer to map and plot
fig = gmaps.figure(map_type='HYBRID')
heat_layer = gmaps.heatmap_layer(locations,
                                 weights=humidity,
                                 dissipating=False, 
                                 max_intensity=maxhumidity,
                                 point_radius=3, opacity = .5)

markers = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [34]:
# Narrow down the cities to fit weather conditions.
narrowed_city_df = cities_df.loc[(cities_df["Max Temp"] > 70) & (cities_df["Max Temp"] < 80) & (cities_df["Cloudiness"] == 0), :]
# Drop any rows will null values.
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Rikitea,0,PF,1599539070,85,-23.12,-134.97,72.72,10.89
1,São Félix do Xingu,0,BR,1599539080,37,-6.64,-51.99,73.11,1.72
2,Guerrero Negro,0,MX,1599538910,70,27.98,-114.06,76.95,12.10
3,Sabha,0,LY,1599539140,26,27.04,14.43,78.94,9.46
4,Sumbe,0,AO,1599539149,86,-11.21,13.84,70.66,3.33

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [35]:
#Store into variable named hotel_df
hotel_df = []

for i in range(len(narrowed_city_df)):
    lat = narrowed_city_df.loc[i]['Lat']
    lng = narrowed_city_df.loc[i]['Lng']

#Set parameters to search for hotels with 5000 meters.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
#Hit the Google Places API for each city's coordinates.  
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotel_df.append(jsn['results'][0]['name'])
    except:
        hotel_df.append("")
        
#Add a "Hotel Name" column to the DataFrame.
narrowed_city_df["Hotel Name"] = hotel_df
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Rikitea,0,PF,1599539070,85,-23.12,-134.97,72.72,10.89,Rikitea
1,São Félix do Xingu,0,BR,1599539080,37,-6.64,-51.99,73.11,1.72,São Félix do Xingu
2,Guerrero Negro,0,MX,1599538910,70,27.98,-114.06,76.95,12.10,Guerrero Negro
3,Sabha,0,LY,1599539140,26,27.04,14.43,78.94,9.46,Sabhā
4,Sumbe,0,AO,1599539149,86,-11.21,13.84,70.66,3.33,Sumbe

In [46]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Lng"]]

In [65]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))